[2019-04-27 16:48] atticbee opened #1 "Setup SPV for Dev activities"
Rough idea:
Spin off Dev team to a separate entity, which could be isolated from Coop mismanagement & bankruptcy.
Coop is mainly responsible for operating the platform, and the new entity focus on dev.
Coop allocates enough RHOCs to the SPV, and transfers the Dev cut part of mainnet mining revenue to SPV.
If Coop bankrupts, community can still contribute to the SPV in exchange of RHOCs & mining cu

[2019-04-29 12:56] nmeyne commented on #1
Sounds good to me.  It's also what I was thinking of as a 'Platform Services Agency' shown in slide 20 in here:  https://docs.google.com/presentation/d/1A8VtRfjxBZ_8InCxgfog3SzufbZo45t-OujZcJWQC-A/edit?usp=sharing

I didn't specify how it could be resourced ...  yes the RHOC funding and a cut of mainnet mining could be a good way to do this.  The idea of 'exchange of other services' part is also i

[2019-04-29 16:50] nmeyne opened #2 "share executive powers between President and Executive Committee"
proposed during the May 4 session : to revise the RChain Executive committee to share executive powers with the President, noting interest from John B, mutineering (@nmeyne) in serving

a poll for members to express support is in [#governance 9:46am KC time](https://discordapp.com/channels/375365542359465989/393462637100400650/574245496646926350)

context: [discussion in 4 May session](https://doc

[2019-04-29 17:17] nmeyne opened #3 "Governance Structure Review, IOB 4, GP001"
[polling](https://discordapp.com/channels/375365542359465989/393462637100400650/576781419347705857) based on https://github.com/rchain-community/sm19a/issues/3#issuecomment-489557345 below (TODO: copy it here.)

----
We could reconvene a Governance Committee meeting to consider / review proposals for the executive structure of the Coop.   Ideally, proposals for exec roles and their working groups

[2019-04-29 17:31] dckc opened #4 "organizational communication, group memory, and welcome rituals"
I'm pleased at the increased quality of discussion in the **#members** channel recently. That and chatting with @richjensen3000 reminded me of some patterns I'd like to emphasize:

  - channels go well with periodic rituals and guides
    - Greg's weekly debrief is a well-established periodic ritual, but the connection to any particular discord channel is weak. I'd like one or more guides to, for

[2019-04-29 17:34] dckc commented on #2
This sounds a lot like the audit and finance committee, to me. I can see some distinctions, but does it seem cost-effective to have two separate groups? Perhaps we could revise the charter of the AFC to cover this?

Regardless, I do hope to see offers to participate in this, whatever form it takes.

I don't think it's a good match for my talents.

[2019-04-29 18:33] nmeyne commented on #2
Yes, good point....  (and I think you're being modest about your talents).   I think it's maybe a temporary extension of the AFC remit...    more active decision making than post-hoc **Audit** of some board decision and covering more than just **Financial** criteria.  Ethics / relationships anyone?

[2019-04-30 14:11] faddat commented on #4
A discourse forum would be a very, very healthy development.

[2019-05-01 16:14] richjensen3000 opened #5 "Member Skillset Inventory - survey"
The Coop an active, accessible skills inventory taking advantage of our proximity and alignment as active Coop members. There are two legacy projects, the bounty system and a New Member survey, that could be integrated and revitalized.

- h/t for the idea from @nmeyne

[2019-05-01 16:17] richjensen3000 opened #6 "Vacant Board Seat Nominations"
There are three open seats. Do Members have nominees in mind or a process they would like to see implemented to fill these?

[2019-05-01 16:18] richjensen3000 opened #7 "Bylaw Review and Revisions"
Do Members have suggestions about decentralizing Executive functions in the Bylaws? Are there other matters that should be refined in the Bylaws? - Purview of the Governance Committee?

[2019-05-01 16:23] richjensen3000 opened #8 "Operating Plans / Models"
Nick Meynes has offered a rough revenue positive 24 Month Operating model for the Coop. It might be worthwhile for Members to evaluate it and consider generating further versions.

[2019-05-01 16:44] richjensen3000 opened #9 "divest from proprietary audio codec software license"
This is a complex subject but also important because of its strategic position and the resources it occupies. Could this project benefit from consideration of a range of scenarios?

[2019-05-01 16:47] richjensen3000 opened #10 "dApp Community Outreach"
Who sees actions Members can take to maintain relations with existing dApp projects and recruit new ones?

[2019-05-01 17:36] jimscarver commented on #5
https://github.com/rchain/bounties/issues/222

[2019-05-01 18:58] dckc commented on #10
I'm interested in maintaining these relationships. [My office hours][hh] have been a pretty useful forum for at least a few developers.

As for reaching out and repairing, I'd like to see that happen, but I'm inclined to leave it to others.

[hh]: https://github.com/rchain/bounties/issues/403

[2019-05-01 21:08] dckc commented on #6
@richjensen3000 , I trust you're looking into some nomination ideas...

Until this includes one or two candidates, I'm unlikely to make it a priority in the agenda.

[2019-05-01 21:13] richjensen3000 commented on #6
@dckc Valid point!

[2019-05-01 21:13] dckc commented on #9
Suppose a lot of people answered "yes"; then what? I suspect "could this benefit from consideration ...?" isn't really the question you want answered. I trust you have one or two scenarios you are considering and will elaborate in due course.

Until this is more completely formed, I'm labelling it **help wanted** and **invalid** (not meant as a final judgement; just in the interest of clarity abou

[2019-05-01 21:17] dckc commented on #8
For reference, quoting Nick:

Rough Operating Plan from April 16:       "In answer to Greg’s challenge a while back for the community to come up with ‘any other ideas?’ I have drafted an ‘Alternative’ business plan for the RChain Coop.
It’s ‘Alt’ in the sense that we have heard a lot about the near term - RSong Special Purpose Vehicles and so on - and legal action to recover from past mistakes, bu

[2019-05-01 21:21] dckc commented on #7
I suppose this captures a certain amount of the brainstorming discussion to date, but it should be refined and split into specific proposals.

@edeykholt offered some specific suggestions around 9:47am Kansas City time in last Saturday's office hours. I hope to review the discussion to recall the specifics:

https://youtu.be/x-YrKbdglnw
https://otter.ai/s/e52287f0b3e949ebbbb3f0e696afd8de

[2019-05-01 21:22] dckc commented on #5
Anyone who is interested in integrating a skills inventory such as the one @jimscarver cited into the new membership process, please come forward.

[2019-05-01 21:29] dckc commented on #8
@richjensen3000 effective proposals pretty much have to take the form of questions where, if lots of people said "yes," something useful would be put in motion. Do me a favor an spitball some questions of that form in this area? Even if they're not quite right, we can talk about what's not right about them and how to fix it.

cc @nmeyne

[2019-05-01 21:34] dckc commented on #3
@nmeyne care to refine this issue to any one or more specific parts?

This looks like a meta-issue: an issue about issues. Yes, we could review our governance structure. In fact, it looks to me like we are. The examples you give "technical governance, ..." belong as their own issues here, to my mind.

[2019-05-02 12:58] dckc commented on #2
Another possibility:

[2019-05-03 15:07] dckc opened #11 "timely board agendas and records; else appeal / cancel"
polling: [9:49 PM KC time in #governance May 5](https://discordapp.com/channels/375365542359465989/393462637100400650/574789795063267329)

_Note: this proposal would be stronger with an offer from a member to assist in preparation of board meeting agendas and records._

Members of the board are elected by the membership and hence represent their interests. The board should
  - Invite input from th

[2019-05-03 15:44] nmeyne commented on #11
This should be written into the Charter of the Main Board.   Suggest that GP001 is also approved alongside this so that:
1) appropriate guidance is given on what a coherent 'significant' proposal should look like (e.g. rationale,  alternatives considered, risk, impact and so on) as opposed to a simple or trivial resolution.
2) the appeals process envisaged in GP001 can be invoked by the committees

[2019-05-03 16:01] JoshOrndorff commented on #11
I like this idea because it has an `or else` clause. As opposed to just demanding that the minutes be published or else nothing. We've seen how that works.

[2019-05-03 17:06] dckc commented on #11
@nmeyne I agree [GP001][] is relevant, but I think it's not necessary to specify what is trivial vs. what is significant for this issue. The question of whether something is significant is delegated to the committees. GP001 is a useful tool for the membership to understand how the governance committee, at least, intends to make the determination.

[GP001]: https://docs.google.com/document/d/1nBRLj

[2019-05-04 13:09] jimscarver opened #12 "Action to be taken with respect to RHOC trading not honoring Pithia and Barcelona RHOC (was pithia action)"
Greg suggested the special meeting consider axtion with respect to  the Pithia failure to fulfil contract terms. It is not clear we can make any decision without disclosing confidential information but we can help the coop by providing community sentiment that may help guide the board. Actions can be considered with respect to policy regarding Pithia RHOC.

[2019-05-04 13:27] jimscarver commented on #12
Presuming that pithia will be liable for the value of the rhoc I suggest we allow pithia to sell or invest their rhoc while we pursue recovery of the value derived.

I am not gravely concerned about them flooding the market with rhoc. RHOC holders have a stake in rchain and it would be a crime if any happened to receive worthless rhoc.

[2019-05-04 13:29] swanzer opened #13 "Development of an HR Strategy for the Coop"
HR Strategy in Brief:
1. Through Membership Survey, CV review, interviews and some job observation, get to know workforce Knowledge, Skills and Abilities (KSA’s).  What do we have in our tool kit today?
    * This is likely a subset result of a prerequisite Survey where Members are asked if they want to contribute in a workforce manner. Those who do are going to have to disclose some information a

[2019-05-04 13:58] nmeyne opened #14 "'Barcelona' Transaction Report"
The members propose that the President should commission, contribute to and publish a complete account of the Barcelona transaction, with a independent assessment, including any likely legislative/jurisdictional risk.  See the template proposed by Mark Pui:  https://cdn.discordapp.com/attachments/512346605727514634/573650122911645707/RChain_-_Summary_of_Fraud_Incident.pdf

[2019-05-05 02:21] dckc commented on #12
Can you think of anyone in a position to make a useful next step on this, @jimscarver? I'm giving you the ball, for now.

Let's try to turn the corner from brainstorming to actually tracking issues to resolution.

[2019-05-05 02:25] dckc commented on #13
@swanzer is this FYI? Or is it a proposal that you are interested in collecting endorsement for?

It would perhaps be better re-organized as:
  - one issue on a member survey - i.e. #5
  - one issue on business strategy (which doesn't seem to be solely the purview of HR) - note overlap with #8, #2
  - ... perhaps some others

[2019-05-05 02:28] dckc commented on #14
Can you think of anyone in a position to make a useful next step on this, @nmeyne? I'm giving you the ball, for now.

Let's try to turn the corner from brainstorming to actually tracking issues to resolution.

[2019-05-05 02:34] dckc commented on #2
I'm re-scoping this to align with the proposal generated in this morning's session:

proposed (1) : to revise the RChain Executive committee to share executive powers with the President, noting interest from John B, mutineering (@nmeyne) in serving

It currently has support from 10 memebers:
[#governance 9:46am KC time](https://discordapp.com/channels/375365542359465989/393462637100400650/57424549

[2019-05-05 02:50] dckc commented on #3
I'm inclined to narrow the scope of this to technical governance. I'll stand by for a bit to see what you think @nmeyne

recall:

10:43 AM kellyfoster: ...I encourage those how are to keep in mind the critical role the coop plays in governing the platform once mainnet launches.
https://github.com/rchain/legaldocs/blob/master/2018%20Annual%20Meeting/RChain%20Improvement%20Process%20(RIP%20Process).

[2019-05-05 13:08] richjensen3000 commented on #14
Should this be an AFC or ExCom task?

[2019-05-05 13:25] richjensen3000 commented on #13
@swanzer see Issue #5.  There is an existing survey (or at least framework) + @jimscarver has recommended integration with the bounty system. Perhaps you two can connect to assess these two resources, how they might be integrated, and recruit assistance from DiscordMembers?

[2019-05-05 13:56] richjensen3000 commented on #1
Harmonizes with a notion I've had for a 'time-based co-op currency' perhaps secured fractionally against a fund from member dues, co-op branded merch, and perhaps someday, tx fees from an internal Members good and services trading platform. Account for engaged co-op time.

[2019-05-05 15:30] dckc commented on #14
Yes. :)

That is: either one would work for me.

The AFC met more recently and might have more momentum.

On Sun, May 5, 2019, 8:08 AM Rich Jensen <notifications@github.com> wrote:

[2019-05-05 17:52] nmeyne commented on #3
I agree there should be a focused effort on technical governance, as already agreed in actions for the last published Governance committee minutes.

I do not think this should be done in isolation, however.  It makes no sense to do tech gov in a silo, or where it is impossible to agree the relationships with other bodies, new or old, or to get its authority validated and endorsed.

You could say h

[2019-05-05 17:54] nmeyne commented on #14
I think if Mark Pui and Ian Bloom had the appetite to complete this it would be a great help.

Nick

[2019-05-05 20:12] richjensen3000 commented on #14
So, perhaps issue should be amended from President to AFC.

[2019-05-05 21:53] dckc commented on #3
Issues are most useful if they get refined to proposals where, if lots of people said yes, something would be addressed. "Propose to review governance" is no different from the sm19a process itself, i.e. this whole issues list. It just brings us back to where we are.

For example, the role of the president is the subject of #2.

If you see other busted roles and relationships, please raise individ

[2019-05-05 22:53] nmeyne commented on #3
Many proposals could be created and several conflicting proposals could be adopted.  I thought SM19a was a democratic process that could commission some joined up 'design' of governance, which this issue was about.   I suppose I could raise issues for more or less every committee / role / body in https://docs.google.com/spreadsheets/d/1QkfB8rhTeQZ-KgWnqjl-B5VACtyMwQYtXuhId4TC0Uk/edit#gid=0   They

[2019-05-06 00:38] richjensen3000 commented on #12
I believe legal action has been filed. Tracking might start by coming up to speed on the documents filed, etc.  I will put this at the top of AFC restart.

[2019-05-06 00:57] justyhoo commented on #2
Hi Nick and Dan, as mentioned to Rich, I’m happy to assist with your proposed temporary extension of the remit of the AFC addressing ethics/relationships of potential deals. Would be keen to get some further guidance from Nick as to what he envisions for this task. Thanks, Justin

[2019-05-06 01:06] richjensen3000 commented on #2
@justyhoo I would like to collaborate with you and any other qualified Members to re-activate the AFC in lieu of Mark's departure. Would you be free to discuss potential agenda items toward an AFC meeting this week?\

[2019-05-06 01:35] justyhoo commented on #2
@richjensen3000 yes, probably best placed to meet around 2pm your time if that suits you in the next couple of days.

[2019-05-06 02:20] dckc commented on #3
So perhaps this is a matter of style.

But since you bring up democratic process, what yes / no question do you want to see lots of "yes"s to? As stated, it's "could we reconvene a Governance Committee meeting to consider / review proposals ...?" That seems like a straightforward question of fact: yes, of course we could.

[2019-05-06 09:15] nmeyne commented on #3
At the moment, the Governance committee (and the membership) are largely ignored by the board. Governance committee is one of the committees, like the (dormant?) executive subservient to the President and the main board.  Two member observers attend the board meetings.  The intention was for the chair of gov cttee to be a board member and have a vote.  The then CEO and Chair of Gov Cttee - Kenny -

[2019-05-06 11:54] dckc commented on #3
Thanks. That's more clear.

I might add ...

   1. The board should approve GP001 ... to fulfill its duty under 2018
   IOB4 member participation in governance.

On Mon, May 6, 2019, 4:15 AM Nick Meyne <notifications@github.com> wrote:

[2019-05-06 13:25] nmeyne commented on #3
+1 Thanks Dan

[2019-05-06 16:57] swanzer commented on #13
I will take a look at older survey's.  But we need to step back from the idea of integrating into an inactive program (Bounty) which is also not funded, and first be sure the Design of the overall strategy is well thought out, clearly defined, has stated goals and objectives, funded and agreed to.  I am aware of some of the different iterations of the bounty program; some was positive and some neg

[2019-05-06 19:19] richjensen3000 commented on #13
@swanzer Can you help produce an outline to Strategy etc? Maybe by the end of the week? Myself and others mentioned in this thread are here to help.

[2019-05-06 19:27] dckc commented on #2
More help is of course welcome, but we do have multiple offers to participate here.

[2019-05-06 23:54] swanzer commented on #13
@richjensen3000 What Nick @nmeyne has been working on in #8 is in the right direction.  If we boil it down, we need to fill in information along the following below.  Note that the Summary and Overview are largely for New Audiences such as a New Member, new Investor or someone who just needs a refresher.  The balance is what the coop body needs to review regularly (on a calendar time-table, such a

[2019-05-07 15:21] richjensen3000 commented on #2
Update: @justyhoo  and I had an informal conversation yesterday afternoon, also attended by @ddayan and John Bodin, identifying tasks toward reactivation of AFC.  Mark Pui has offered advice and assistance to this effort, suggesting a first step of recruiting a Director from the Coop's Board to sit on the AFC.  Pursuing that now. Speak up, especially if you have legal or accounting experience and

[2019-05-07 17:18] richjensen3000 commented on #2
AFC's scope as presently chartered includes providing assessments of legal and financial risk facing the Coop. While much of AFC's scope is retrospective and provides review of periodic reporting, financial controls, and exposures to liability of all kinds, there is clearly a forward-looking aspect to risk assessment that pertains to evaluating new opportunities. Risk assessment though, does not d

[2019-05-07 18:22] swanzer commented on #8
I am happy to help with Operating Plans and Models.  I have experience in this area and the outcomes will directly impact #13  and any Workforce plans, roles, job descriptions, compensation planning, etc, etc.

[2019-05-08 19:26] jimscarver commented on #12
The tainted rhoc has been sanctioned and rhoc trading on kucoin disabled. Greg's advise is to not buy rhoc on other exchanges because it could be worthless. The coop effectively halted rhoc trading which will not sit well with some rhoc holders.

The coop could create a tradable rhol token on ethereum which could be obtained one for one with non-tainted rhoc. For every rhol created a rhoc would be

[2019-05-08 19:35] jimscarver commented on #10
Perhaps someone could lead an rchain users group meeting during the week at a different time to supplement dan's office hours. The group could help onboard dApp developers and provide self help. The users group might also interface with the rchain improvement process.

[2019-05-09 21:37] justyhoo commented on #2
There is no doubt we need to have an active Governance Committee and AFC for the Coop to properly function. Ideally, these committees would be separate. However, given the current dysfunction, I think we should consider temporarily consolidating/amalgamating the function/s  of these committees into the Executive Committee with different emphasis on roles of each committee member in the Executive C

[2019-05-09 22:46] nmeyne commented on #2
Makes perfect sense Justin.  When energy and goodwill is scarce it makes sense to consolidate and focus.  Issues to address would be:

1. Maintaining adequate separation of duties and executive / supervisory separation on key decisions...  especially finances and deals

2. Empowering this consolidated exec committee to balance against President and Board without creating deadlock.

I think that's

[2019-05-10 00:12] justyhoo commented on #2
Thanks Nick, I agree that we need to work through those issues and that such a structure with those safeguards is achievable.

[2019-05-10 00:15] dckc commented on #2
I lean toward having all the committees chartered but economizing by, for example, having joint meetings.

[2019-05-10 07:05] nmeyne commented on #2
Yes it's about distinct roles and accountabilities rather than separate committees.  All possible, but the transfer of power from the president is needed to avoid it becoming a talking shop. The presidential role needs a rewrite.

[2019-05-10 17:39] dckc commented on #2
@nmeyne , John B. (handle?),

Have you given any thought to specific wording for a proposal here? Something that would go in the bylaws and executive committee charter? Would you, please?

[2019-05-10 17:59] richjensen3000 commented on #10
@jimscarver maybe you and @nedrob?

[2019-05-10 18:06] nedrob commented on #10
Sure, sounds good. @jimscarver do you want to merge that into one of your scheduled Colab meetings?

[2019-05-10 23:25] nmeyne commented on #2
Working on this now.  Please see the spreadsheet https://docs.google.com/spreadsheets/d/1QkfB8rhTeQZ-KgWnqjl-B5VACtyMwQYtXuhId4TC0Uk/edit#gid=0
for supporting material (incl illustration) to support the proposal.   The draft / summary below is based on @justyhoo 's excellent suggestion above.

**Proposal:**

To (temporarily) consolidate/amalgamate the functions of the AFC and Governance Committees

[2019-05-11 03:20] justyhoo commented on #2
Bravo Nick, my view is that your proposal works. Most importantly, it would bestow custodianship of the coop back to the membership.

[2019-05-11 07:14] nmeyne commented on #2
Adding a comment/build here on behalf of John Bodin:

1. Co-sign-off by the CEO and COO is required on any contract significantly impacting the Coop's financial or reputational standing and only after that contract has been approved by a 2/3rds majority of the Executive Committee.

2. The institution of an Ombudsman role to be paid but non-voting that would have Observer status at all committees a

[2019-05-11 07:23] nmeyne commented on #2
To John's comment  1. I would add that GP001 provides details of the structure and content of Board and Executive Committee proposals, criteria for significance and a process for handling proposals.

On comment 2. I would add that perhaps one of the member observer roles at each committee could fulfil the role of the independent Ombudsman and could operate the appeals proposal process as also defi

[2019-05-11 07:45] nmeyne commented on #2
And also (perhaps this should not need to be said, because it is so fundamental and obvious): The executive committee and board will not approve contracts, funding partnerships or commercial relationships that constrain the appointments or tenure of staff or conflict with the principles and mission of the Coop.

Note:  That applies to both the retention (as per the Thrust Capital deal) and the rem

[2019-05-11 10:52] justyhoo commented on #2
As to John Bodin’s comment, I would add that such co-sign-off by CEO and COO must not be unreasonably withheld.

[2019-05-11 12:28] nmeyne commented on #2
Further consolidation of above comments on the Proposal:
"
To (temporarily) consolidate/amalgamate the functions of the AFC and Governance Committees into a re-constituted Executive Committee and to restrict the executive powers of the President and Board of Directors.

Functions of AFC and Governance will be performed by specific member roles and accountabilities in the new Executive Committee, i

[2019-05-11 13:17] dckc commented on #2
Why mention the AFC and governance committees at all? It's not clear to me what that means. I suggest leaving it out for simplicity / clarity ("4 corners").

Is the Ombudsman section essential? It seems like a straightforward separate issue.

"specific member roles"? which roles? This doesn't pass the "4 corners" test, to me.

strike "new" from "The role of the new Executive Committee is ..."; tha

[2019-05-11 13:24] dckc commented on #2
I'm not aware of offers to participate as ombudsman.

[2019-05-11 13:58] nmeyne commented on #2
Audit/Finance and Governance should be distinct roles in this committee and in due course, to pass this 4 corners thing (self-standing document?) we'd need to copy in most of the content of those two charters.

John suggested it.  We've discussed it at Governance Committee before, so it seemed appropriate to include it with the established community observer role.

The 'member for Audit and Financ

[2019-05-11 15:00] dckc commented on #4
@jimscarver says "count me in"

[2019-05-11 16:24] dckc commented on #2
Really? All that is essential to this proposal? What I hear mostly is that this is the only essential point:

 - Co-sign-off by the President and COO is required on any contract significantly impacting the Coop's financial or reputational standing and only after that contract has been approved by a 2/3rds majority of the Executive Committee.

Perhaps some details about how the membership of the ex

[2019-05-11 19:13] dckc commented on #2
The reason I ask "How quickly can the executive committee approve something?" is that there is no provision for doing business other than by 2/3rds majority of the committee. In #11, I didn't go so far as to say that items not on the agenda in advance are not allowed; I just said that they're subject to appeal.

[2019-05-12 09:02] nmeyne commented on #2
I think on its own, co-sign off won't do if a President is all powerful and can appoint a COO of choice unilaterally.  I think John was suggesting the co-sign off on deals as a specific build on the whole proposal to  balance presidential/board powers and the executive team.

[2019-05-12 12:14] dckc commented on #2
The bylaws already say that the board appoints officers, not the President.

This all powerful President myth is just that. A myth.

On Sun, May 12, 2019, 4:02 AM Nick Meyne <notifications@github.com> wrote:

[2019-05-12 12:28] dckc commented on #2
Yes, the president can appoint additional officers, and I guess he created the office of  COO.

That's perhaps worth changing in due course, but it looks manageable in the short term, to me.

In any case, I do think a proposal that is complete with just two or three paragraphs at most is most likely to be effective.

[2019-05-12 12:46] nmeyne commented on #2
I think if a proposal is clear and understood (written) it could be signed off by correspondence or in a chat?  Within a day?  Not sure.

[2019-05-12 12:59] dckc commented on #2
Within a day sounds fast enough. It implies a high time commitment from
executive committee members, but I guess we knew that.

To date, committee work has been all volunteer. Perhaps in due course,
executive committee members should be exempt from that and allowed to
negotiate compensation.

On Sun, May 12, 2019, 7:46 AM Nick Meyne <notifications@github.com> wrote:

[2019-05-12 13:03] nmeyne commented on #2
OK Dan. I will look again sometime later at the condensing and wordsmithing.  I was originally  responding to your request to write up a proposal in response to the issues, adding in builds and suggestions from @justyhoo and John Bodin.

[2019-05-12 20:55] jimscarver commented on #10
I will provide support if you will guide the session @nedrob

[2019-05-13 11:46] nmeyne commented on #2
Co-sign-off by the President and COO is required on any contract significantly impacting the Coop's financial or reputational standing and only after that contract has been approved by a 2/3rds majority of the Executive Committee.
- Co-sign-off by President and COO must not be unreasonably withheld.
- Governance Process [GP001](https://docs.google.com/document/d/1nBRLjw8tuQd05GIacIhrN2FwFPJInwaiLN

[2019-05-13 16:33] nedrob commented on #10
Jim,

Can we use the work study meeting you have scheduled for Tuesday at 1 pm PDT?

Thanks,

Ned

On May 12, 2019, at 1:55 PM, Jim Whitescarver <notifications@github.com> wrote:

I will provide support if you will guide the session @nedrob

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-05-15 15:29] jimscarver commented on #12
With trading suspended on kucoin perhaps we should consider creating our own exchange on ethereum where members and others supporters can deposit rhoc verified to be legal supported by fees. 0x, oasis and other open source exchanges could be considered. It might be run by some SPV if there is interest.

[2019-05-15 15:40] jimscarver commented on #12
A members only discord server might provide for RHOC trading among trusted members. Anyone trusted by the community could run such a server. Membership could be by invitation only.

[2019-05-17 14:59] fweilih commented on #12
Hi Jim, do you think it is appropriate to gauge and communicate community sentiment, without those expressing their sentiments having knowledge of all relevant facts?  I question if the necessity for confidentiality is being used too widely here.  I am not trying to challenge, just question.  I have always found your comments thoughtful and considered, BTW.  Thanks.

[2019-05-17 15:32] jimscarver commented on #12
Hi @fweilih, Pure democracy tends to make poor decisions. Who should make a decision should be considered. [Liquid democracy with a trust metric](https://docs.google.com/document/d/14JJPWtrFxkxzHa1NAmwzhTmeQO1vJtKDOJgBB_MPyfY/edit#) getting sentiment from all stakeholder groups good decisions might be made and when necessary ratified anonymously to prevent social pressure. Those without knowledge

[2019-05-18 06:24] fweilih commented on #12
Dear Jim, I agree with everything you say, I just think it may be incomplete. Allowing those without knowledge of an issue to allow a delegate of their choice to vote on their behalf is sensible; however, there must also be transparency surrounding the actions/decisions of the delegate to those who have delegated their authority, for such a system to be effective.  I am not sure this has been the

[2019-05-19 12:09] jimscarver commented on #12
Yes, delegative democracy sentiment is an incomplete solution to making good decisions. It may be good for electing members of a working group. The working groups can then employ decision making best practices to resolve the issue.

However, the elected members of a working group may not be the informed people capable of making the best decision. They are a team thrown together and may not be able

[2019-05-19 12:16] jimscarver commented on #12
governance is off topic for this issue so I moved the discussion to the governance-colab discord channel.

[2019-05-23 01:51] dckc commented on #4
At about 40 minutes into the May 14 session, @leithaus said while he's happy to go through the process of accountability and diligence, he's frustrated at being asked to to go over things that have been gone over many times. And yet, where is the process of accountability and diligence documented? How should we expect new members to find it? If I start at https://rchain.coop/ , is there a straight

[2019-05-23 02:07] dckc commented on #14
Frankly, I find the [whole story](https://blog.rchain.coop/blog/2019/04/26/rchain-update-04-26-19/) rather hard to believe. That blog item is signed "RChain Staff", despite my repeated requests that they be signed by individuals. @derekberes I infer you actually posted it, if not wrote it? The story names @leithaus , so most likely you got the story from him. @swanzer @KentShikama @ned-robinson, f

[2019-05-23 15:30] nmeyne commented on #14
It might be useful if the report also investigated the regulatory position on the Barcelona deal. Paragraph 6 here is relevant perhaps:
https://www.globallegalinsights.com/practice-areas/blockchain-laws-and-regulations/spain#chaptercontent6

[2019-05-24 02:43] dckc commented on #9
I find myself persuaded by this argument:

The coop should divest any significant interest in a proprietary software license.

@faddat I presume you're OK with my sharing your [comment of Apr 28 9:42 PM KC time in #members](https://discordapp.com/channels/375365542359465989/406191011564617748/572251277917028364) publicly.

[2019-05-24 02:50] dckc commented on #10
It's great to see @ned-robinson and @jimscarver have taken the ball on this one:
[2019-05-21 RChain dApp developer work study](https://youtu.be/66fMTmGT_lw) video recording; see also [#dapp-developers](https://discordapp.com/channels/257555930173014017/578571638321446913) channel.

I was going to take the **help wanted** label off, but @jimscarver told me quite a while ago that he likes to keep th

[2019-05-24 02:58] dckc commented on #13
@swanzer while I might have used a different issues list organization, I think your 1-6 list looks really good. Can you think of a useful next step?

The Summary (1) and Overview (2) belong on the web site, so they overlap with my interest in #4 .

[2019-05-24 04:03] dckc commented on #4
@jimscarver writes "The trust metric is designed to delegate power from the top down. This compliments bottom up liquid democracy. " in [Liquid Democracy+ Prototype in RhoLang](https://docs.google.com/document/d/14JJPWtrFxkxzHa1NAmwzhTmeQO1vJtKDOJgBB_MPyfY/edit#heading=h.ygdnkypn002t)

That strikes a chord w.r.t. this issue. I wonder if the sm19a 100+ member "phone tree" has gone cold or if it's w

[2019-05-24 11:36] jimscarver commented on #4
Yes! I am hoping that our governance tools like liquid democracy and trust metrics might become part of our culture and help define our connections revealing the effective structure of our organization.

We might discuss the phone tree idea at office hours. The normal purpose of a phone tree traditionally was to broadcast important messages.  It feels like this personal communication does a lot mo

[2019-05-24 17:46] swanzer commented on #13
@dckc In brief, we need a series of meetings and a small team to do the work and get this written.  I think the probable contributors are pretty easy to identify, particularly those on Staff and Contracted, the Board Members and those actively involved with Committees.  I can create a Master Schedule: draft Attendees list, Agenda and pick some dates for discussions and target completion dates, and

[2019-05-24 18:07] dckc commented on #13
Sounds great; please do!

[2019-05-26 14:44] jimscarver commented on #12
It is not clear to me why we ought consider any rhoc invalid. I believe it is self defeating to do so.
1. Surely any illegal gain from rhoc creates a liability for that gain giving us legal recourse.
2. That rhoc comes into the hands of people that did not purchase it from the coop seems unfair but it is not different from an airdrop. Airdrops can be very good in stimulating economic activity of a

[2019-05-27 13:25] fweilih commented on #12
While I understand the need to respect confidentiality in certain delicate circumstances, I still find it problematic that we are trying to gauge sentiment with what seems to be a paucity of facts.

Jim, are you able to confirm that legal action has indeed been filed or not?  If so, the pleadings (statement of claim filed by the plaintiff and statement of defence filed by the defendant) should be

[2019-05-27 13:49] fweilih commented on #12
I believe the Coop will want to continue to seek partnerships and enter legal agreements with different parties.  Will the spectre of RHOC paid as consideration becoming 'invalid' in case of a legal dispute,  deter future potential partners?  I think this needs to be considered by the membership.

[2019-05-27 14:18] jimscarver commented on #12
Good point. In my view Rhoc received from the coop should always be honored so the rhoc that's part of a strategic partnership should never become invalid. That we have invalidated pithia rhoc presents an added risk of potential loss without just cause for prospective partners. Who would accept your money if you could invalidate it at will?

Partners that agree with our action may not be deterred

[2019-07-01 18:03] dckc commented on #9
Meredith announced in [RChain Community Debrief 133 Jun 19 at about 16:26][1] that the license agreement has been terminated. So (with a revised scope) this is done to my satisfaction.

[1]: https://youtu.be/sR-tPNhjNgc?t=986

cc @faddat

[2019-07-01 18:03] #9 closed, assigned to nobody

[2019-07-01 18:16] dckc commented on #3
I see discussion of IOB 4 in the [Jun 4 board minutes](https://github.com/rchain/board/tree/master/2019/06-04):

[2019-07-21 19:21] dckc commented on #14
At 33:24 into the [July 17 debrief][17Jul], Greg updated the community on KuCoin, which has started allowing withdrawals. He explained that one of the hold-ups was miscommunication about a request from KuCoin to get police reports. Forwarded communications with the FBI didn't satisfy KuCoin, but a report to the Spanish authorities did.

That seems like credible independent verification of a police

[2019-07-21 19:47] richjensen3000 commented on #14
Can anyone give a reason why this documentation has never been shared with members?

[2019-07-21 20:06] dckc commented on #14
The police report presumably contains sensitive material. Producing a redacted report was evidently not given priority over other tasks.

There's also a risk that one or more members would not respect confidentiality. That risk might be a reason not to share the info. (Not that I think it's a conclusive argument; just that it's _a_ reason.)

[2019-10-12 14:48] dckc commented on #6
The nominations are now in place:

- [CANDIDATE STATEMENTS FROM THE 2019 BOARD NOMINEES](https://blog.rchain.coop/blog/2019/10/08/candidate-statements-from-the-2019-board-nominees/) by RChain Staff | Oct 8, 2019
  - STEVE HENLEY
  - EVAN JENSEN
  - ERIC MENG
  - DARRYL NEUDORF
  - STEVE ROSS-TALBOT
  - DAN SALKOV

[2019-10-12 14:48] #6 closed, assigned to nobody

[2019-10-12 15:05] dckc opened #15 "RChain Marketing Plan"
I see various people asking about marketing plans. I agree it's an important issue; I'm interested to hear what the board nominees have to say on the topic.

A bit of history: a $7M marketing plan was approved in the [April 6, 2018 RChain board meeting][6apr]. The executive committee, of which I'm a member, was still somewhat active at the time, so I was part of the decision. I don't see it in the

[2019-10-12 15:10] dckc commented on #7
I'm reviewing these issues in preparation for the Oct 24 annual meeting. This issue hasn't catalyzed any particular proposals. Revising the bylaws is always a possibility, but this issue seems to be too general to be useful.

[2019-10-12 15:10] #7 closed, assigned to nobody

[2019-10-12 17:24] richjensen3000 commented on #15
The number seems absurdly high to me. A worldclass full time publicist with support is maybe $100K. A travel budget for conferences, etc $5k/mo. 10 explainer videos $50k. Design/graphics $50k. Advertising (?) 200k... Suppose I'm off by a factor of three to accommodate global markets... That's 1.5M.

[2019-10-12 22:31] dckc commented on #15
I reviewed the [Treasury Update in the Oct 2018 annual meeting](https://youtu.be/fdLp1lHThRI?t=3235]) briefly. The [Profit and Loss for Q1-Q3](https://github.com/rchain/reference/blob/master/finance/P%20%26%20L%20by%20Quarter%20-%20Oct%2024%20FINAL%20V2.pdf) shows some $350K for developer relations. I don't see anything near $7M in expenses.

[2020-02-27 22:13] dckc commented on #14
I'm no longer satisfied without this information being shared at least to the membership.

See also: [RChain Blues](https://www.madmode.com/2019/rchain-blues.html) 2019-06-05

ref [request Feb 28, 2020](https://discordapp.com/channels/375365542359465989/595813040759242794/683009825486930059)

[2020-02-27 22:19] dckc opened #16 "quarterly financial reports "no later than 20 days after the quarter ends""
The 2019 Q4 coop quarterly financial reports were due Jan 20. They are late. Again.

https://github.com/rchain/reference/tree/master/finance

[2020-03-04 00:13] dckc commented on #4
bookmarking: https://rholang.github.io/

p.s. March 11: I submitted a few pull requests: https://github.com/rholang/rholang.github.io/pulls

Let's see how the collaboration goes...

[2020-03-12 03:09] dckc commented on #12
This is addressed as of Feb 14, 2020 when the mainnet wallets.txt was deployed.

References:

https://github.com/rchain/rchain/commit/cf10e26f537e516fb3ebcb5e9b9d77f1e0b907f0#diff-14230f61bd79457f34c0e11b9f121f6a (I note a couple edits since then; I don't think they suggest reconsidering this issue)
https://discordapp.com/channels/375365542359465989/454113117257859073/678444912827432969 my own end

[2020-03-12 03:09] #12 closed, assigned to nobody

[2020-03-26 16:19] dckc commented on #4
Yes, but we're extremely thin on resources just now.

I lean toward stackoverflow for now. It's really, really well organized. I just got yet another obscure question answered better than I would have expected:

----

as I edit some [FAQs](https://github.com/rholang/rholang.github.io/labels/FAQ) I wonder about pushing them to stackoverflow / stackexchange. I find **cryptocurrency** tags on two sta

[2020-03-26 16:19] dckc commented on #4
@jimscarver did you say Darryl is heading a communications group? Does it have a home in the web?

p.s. Jim notes [Communications Folder](https://drive.google.com/drive/folders/1kGsXnB1yx_4oJZIWITymE29WvbwKsuf8)

[2020-03-27 14:51] SteveHenley commented on #4
From my understanding the communication working group that Darryl leads is more about coop communications.

I will add stack overflow to the Tech Governance agenda.

- Steve Henley

- Sent via my iPhone

[2020-03-28 12:57] dckc commented on #4
This issue is about coop communications too.

[2020-03-28 12:59] dckc commented on #4
I'm not sure I've told anybody in that group enough to represent my position. Please stand by until I have.

Meanwhile, again, does that group have a home in the web? For example, something that lists its membership?

[2020-03-28 14:20] dckc commented on #4
- [Microcontent: How to Write Headlines, Page Titles, and Subject Lines](https://www.nngroup.com/articles/microcontent-how-to-write-headlines-page-titles-and-subject-lines/)
 - [Prioritize: Good Content Bubbles to the Top](https://www.nngroup.com/articles/prioritize-good-content-bubbles-to-the-top/)

@SteveHenley  agreed to relay micrcontent / bubbling advice to RChain release notes writers

for e

[2020-04-03 18:38] dckc commented on #14
Some relevant information was shared with the membership.

In particular, the tokens were recovered in the genesis block.

[2020-04-03 18:38] #14 closed, assigned to nmeyne

[2020-04-10 12:09] dckc commented on #4
anybody know who runs https://rchain-community.readme.io/ ? is it backed by a public git repo?

[2020-04-11 12:24] nzpr commented on #4
@dckc#3040 https://rchain-community.readme.io/ I created that one, its not powered by git repo, anyone can suggest edits via their own interface.

[2020-04-15 20:49] dckc commented on #4
Several of us had a very promising meeting yesterday;
 - [RChain Communications Working Group Log](https://docs.google.com/document/d/1yrCqj5GWKElRVGYrPcrRDOEAZl4ILk3RYv00GFo6Yts/edit#)

I took the ball to review / revise a draft charter:

 - [RChain Co\-op Communications Committee Charter \- v2 \- Google Docs](https://docs.google.com/document/d/1i-W9MUG_W5y3mVQ8NjwJ-1EklCArzisGdQjpAzwLc2Q/edit?pl

[2020-10-26 15:09] dckc commented on #3
A governance committee charter was approved in the [2019-08-06 board meeting](https://github.com/rchain/board/tree/master/2019/08-06).

GP0001 was adopted by the membership in the [2019 Annual Meeting](https://github.com/rchain/legaldocs/tree/master/2019%20Annual%20Meeting)

[2020-10-26 15:09] #3 closed, assigned to nmeyne

[2020-10-26 15:13] dckc commented on #1
rdev was introduced by @leithaus in [debrief 192 Aug 19, 2020](https://blog.rchain.coop/2020/08/23/rchain-co-op-weekly-community-debrief-192-aug-19-2020/) at 12:26.

See also [Log-RDev-coop](https://docs.google.com/document/d/1NImbkoxPoL5hI4GtTl6ziOC8TcvdeSUOEwlz4hViV34/edit), [#rdev-coop](https://discord.com/channels/375365542359465989/) channel.

Given these developments, I'm no longer intereste

[2020-10-26 15:13] #1 closed, assigned to nobody

[2020-10-26 15:17] dckc commented on #13
This no longer seems worth tracking as its own issue; it didn't make progress beyond a broad list of topics to a specific issue.

[2020-10-26 15:17] #13 closed, assigned to swanzer

[2020-10-26 15:20] #8 closed, assigned to nobody

[2020-10-26 15:32] dckc commented on #2
The board approved a transition plan in its [November 6, 2018 meeting](https://github.com/rchain/board/tree/master/2018/11-06):

The definition of the "Mercury backlog" remains unclear.

ref subsequent discussion in the [2019-03-05 board meeting](https://github.com/rchain/board/tree/master/2019/03-05)

[current board repo git rev is a0617db Oct 24, 2020](https://github.com/rchain/board/commit/a061

[2020-10-26 15:42] dckc commented on #10
The upcoming [hackathon](https://rchain.coop/hackathon) is a significant development regarding this issue.

[2020-12-07 22:57] dckc opened #17 "RChain invested $35M + $5.3M in go-to-market dApps with no return"
Any new developers in the RChain community deserve to know some history about funding dApp development.

Section 11) **Use of Proceeds** from the August 29, 2017 [RChain Whitepaper](https://github.com/rchain/reference/raw/master/docs/RChainWhitepaper.pdf) (78b1980) called for "Support the Dev. of Key dApps to operate on RChain Blockchain" in the amount of $500,000 to $2,500,000 depending on how mu

[2020-12-07 23:06] dckc commented on #17
Contrast this with the [results of the web3 foundation grants program](https://github.com/w3f/General-Grants-Program/blob/master/grants/accepted_grant_applications.md).